<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="http://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
    <wyswietl-czas :czas.sync="sekundy" />
</div>
<script>
    Vue.component('wyswietl-czas)', {
        template: '<p>Jestes na stronie {{ czas }} sekund </p>',
        props: {
            czas: {
                type: Number,
                required: true
            }
        },
        mounted() {
            setInterval(() => {
                this.$emit('update: czas', this.czas + 1);
            }, 1000) ;
        }

    })
    new Vue({
        el: "#app",
        data: {
            sekundy: 0
        }

    });

</script>

</body>
</html>