<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="http://unpkg.com/vue"></script>
</head>
<body>

    <div id="app">

    </div>
<script>
    new Vue({
        el: "#app",
        render(createElement){
         return createElement(
             'button',
             {
                 attrs: {
                     type: 'submit'
                 },
                 props: {
                     foo: 'bar'
                 },
                 domProps: {
                     innerHTML: 'jakis tekst'
                 },
                 on: {
                     click: this.naszaMetoda
                 },
                 slot: 'przykladowySlot',
                 ref: 'przykladowyRef',
                 class: ['jakasKlasa', {'pogrubiony': true}],
                 style: {backgroundColor: 'green'}
             },
             this.$slots.default
         );
    },
        data: {
            tag: 'p'
        }


    });

</script>

</body>
</html>